@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS URL */

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");





/* FONTS */

#poppinsFont {
  font-family: "Poppins", serif;
  font-style: normal;
}
#barlowFont {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

#montserratFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}








/* EXTRAS */

#beforeLi::before {
  content: " ";
  position: absolute;
  width: 50px;
  border-radius: 0px 10px 10px 0px;
  height: 30px;
  left: 0;
  background-color: black;
}

#scrollbar::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* The scrollbar track */

#scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
  border-radius: 5px;
}

/* The scrollbar thumb */

#scrollbar::-webkit-scrollbar-thumb {
  background: #302a2a; /* Scrollbar color */
  border-radius: 5px;
}

/* Hover effect on the scrollbar */

#scrollbar::-webkit-scrollbar-thumb:hover {
  background: #302a2a; /* Darker color on hover */
}
